= form_tag(issues_path, :method => "get") do 
  = label_tag(:by_barcode, "Barcode")
  = text_field_tag(:by_barcode)
  = label_tag(:by_series_name, 'Series')
  = text_field_tag(:by_series_name)
  = label_tag(:by_issue_num, 'Issue Number')
  = text_field_tag(:by_issue_num)
  = submit_tag("Search")

- @issues.each do |i|
  = i.series_name
  = i.description
  = i.barcode
  = i.issue_num
